/* Sticky footer */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 0px; /* Margin bottom by footer height - none for now */
}
.vcenter {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.row {
	min-height: 100vh;
}

.text-medium {
	font-size: 2rem;
}